section {
  margin-top: 70px;
}

.table-compact {
  font-size: 0.8rem;
  th, td {
    padding: 4px !important;
    white-space: nowrap; // Impede quebra de texto nas células
  }
}

.card {
  border-radius: 8px;
  width: 600px; // Evita colunas muito estreitas
}

.btn-xs {
  border: none;
  font-size: 0.75rem;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


